@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #170202;
    --background: #fffefe;
    --primary: #f51919;
    --secondary: #eb9393;
    --accent: #FBE8E8;
  }
}

@layer base {
  :root {
    --card-background: var(--accent);
  }
}


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: none;
  
  background-color: whitesmoke;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

.wordle-solver {
  background: linear-gradient(243deg, #00E68C 22.45%, #3AFFB2 91.51%);
}
