---
import Layout from '../layouts/Layout.astro';

let date = new Date();
let currentDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
---

<Layout title="Where are you?">
		<div class='bg-gray-100 select-none selection:bg-pink-500 selection:text-white'>
                <div class='flex justify-center bg-white graph-bg'>
                    <div class='w-[1240px] px-10 bg-white min-h-screen flex justify-center items-center paper'>
                        <div class='flex flex-col gap-7'>
                            <div class='flex justify-center gap-7'>
                                <p>404</p>
                                <div class="h-5 w-px bg-[#111111]" />
                                <p>This page could not be found.</p>
                            </div>
                            <div class='flex justify-center'>
                                <a href='/'>
                                    <button class='px-3 py-1 text-center text-white duration-150 bg-black border border-black border-opacity-100 rounded hover:duration-150 hover:bg-white hover:text-black'>Go Home</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</Layout>

