---
import MainLayout from '../../layouts/MainLayout.astro';

let date = new Date();
let currentDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
---

<MainLayout title="Snippets">
    <div class='w-full h-3' />
    <div class='flex justify-end w-full'>
        <a href='/'>
            <button class='px-3 py-1 text-center text-white duration-150 bg-black border border-black border-opacity-100 rounded select-none hover:duration-150 hover:bg-white hover:text-black'>Go Home</button>
        </a>
    </div>
    <div class='w-full h-52' />
    <p>Published on: {currentDate}</p>
    <h1 class='mb-3 text-6xl font-bold leading-tight text-gray-900 capitalize'>Snippets</h1>
    <p class='text-lg'>These are a collection of code snippets I&apos;ve used in the past and saved.</p>

    <!-- <p class='text-2xl'>🚧 WORK IN PROGRESS!</p> -->
    <!-- <h2 class='pb-3 text-2xl font-medium text-center'>🚧 WORK IN PROGRESS!</h2> -->
    <div class='my-3 text-3xl font-semibold'>🚧 WORK IN PROGRESS!</div>
    <div class='w-full h-10' />
</MainLayout>

