---
import MainLayout from '../../layouts/NewsletterLayout.astro'
import Parser from 'rss-parser';

let date = new Date();
let currentDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();

const stuff:any = await fetch('https://dev.to/api/articles/1274787').then(stuff => stuff.json())
// console.log(stuff);
---

<MainLayout title="Test">
    <div class='w-full h-3' />
    <div class='flex justify-end w-full'>
        <a href='/snippets' class='px-3 py-1 text-center text-black duration-150 bg-white border border-black border-opacity-100 rounded hover:text-white hover:bg-black hover:duration-150'>Snippets &rarr;</a>
    </div>
    <div class='w-full h-52' />
    <p>Published on: {currentDate}</p>
    <!-- <p>{`${stuff}`}</p> -->
    <div set:html={stuff.body_html}/>
</MainLayout>

<!-- (async () => {
    const stuff = await fetch('https://dev.to/api/articles')
})(); -->